.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  background-color: transparent; 
  margin-bottom: 1rem;
  font-size: 0.9rem;
  display: flex;
  margin-left: 23rem;
  margin-top: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›"; 
  color: #6c757d; 
  padding: 0 10px;
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline; 
}

.breadcrumb-item.active {
  color: #6c757d; 
}

.breadcrumb-item i {
  margin-right: 5px;
}

.breadcrumb-item .fa-folder-open {
  color: #ff6347;
}

.breadcrumb-item .fa-home {
  color: #28a745;
}

.breadcrumb-item .fa-file-alt {
  color: #ffc107;
}
