.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(210, 210, 210, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
  backdrop-filter: blur(30px);
}

.loading-overlay img {
  width: 200px;
  height: 200px;
}
