<footer class="site-footer custom-border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Khuyến mãi</h3>
        <a href="#" class="block-6">
          <img src="/assets/img/sale-img.gif" alt="Image placeholder">
          <h3 class="font-weight-light  mb-0">Tìm kiếm chiếc điện thoại cho riêng bạn!</h3>
          <p>Khuyến mãi Noel - 25, 2024</p>
        </a>
      </div>
      <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Truy cập nhanh</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Sell online</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Shopping cart</a></li>
              <li><a href="#">Store builder</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Mobile commerce</a></li>
              <li><a href="#">Dropshipping</a></li>
              <li><a href="#">Website development</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Point of sale</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Software</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">THÔNG TIN LIÊN HỆ</h3>
          <ul class="list-unstyled">
            <li class="address">105 Kiên Thị Nhẫn, Phường 7, Trà Vinh</li>
            <li class="phone"><a href="tel://23923929210">+849932119</a></li>
            <li class="email">{{ email }}</li>

          </ul>
        </div>

        <div class="block-7">
          <form action="#" method="post">
            <label for="email_subscribe" class="footer-heading">Đặt mua</label>
            <div class="form-group">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-primary" value="Send">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>

          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i
            class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
            class="text-primary"><span style="color: brown;">HHT</span> Team</a>
        </p>
      </div>

    </div>
  </div>
</footer>