.site-section {
    background-image: url('/assets/img/bgnoel.png');
    background-size: cover;
    background-position: center; 
    padding: 50px 0;
}

.container {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.site-blocks-cover
{
    background-color: rgb(243, 244, 244);
}
.img-fluid .bg
{
    max-width: 100%;
    height: auto;
    margin-left: 150px;
}
.site-block-cover-content
{
    margin-top: 100px;
}

.product-item img {
    left: 50%;
    top: 3%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 300px;
    position: absolute;
}
.product-item.md-height {
    height: 309px;
    padding: 40px;
}
.product-category
{
    background-color: rgb(75, 75, 75);
    color: white;
}
.list
{
    background-image: url('/assets/img/bgip.png');
}